.admin-dashboard-wrap{
     display: flex;;
}
.dashboard-notification{
     position: fixed;
     width: 100%;
     bottom: 0;
     padding: 30px;
     z-index: -99;
     display: flex;
     align-items: center;
     justify-content: center;
}
.dashboard-notification:has(.dashboard-bar.active){
     z-index: 999;
}

.dashboard-bar{
      width: 450px;
      background: rgb(22, 8, 8);
      padding: 20px;
      border-radius:10px;
      -webkit-border-radius:10px;
      -moz-border-radius:10px;
      -ms-border-radius:10px;
      -o-border-radius:10px;
      display: flex;
      justify-content: center;
      gap: 5px;
      opacity: 0;
}

.dashboard-bar.active{
      opacity: 1;
}
.dashboard-bar span{
    display: flex;
    color: rgb(237, 214, 6);
    font-size: 18px;
}
.dashboard-bar.success span{
    color: rgb(17, 175, 96);
}
.dashboard-bar.error span{
     color: rgb(235, 16, 16);
}
.dashboard-bar p{
    color: whitesmoke;;
    font-size: 14px;
    line-height: 1.5;
}

.dashboard-sidebar{
     width: 290px;
     position: fixed;
     left: 0;
     bottom: 0;
     top: 0;
     border-right: 1px solid rgba(238, 231, 226, 0.548);
     padding: 20px;
     z-index:99
}
.dashboard-logo img{
     width: 120px
}

.dashboard-logo{
    border-bottom: 1px solid rgba(238, 231, 226, 0.548);
    padding-bottom: 10px;
    margin-bottom: 20px;
    display: flex;
    position: relative;
    justify-content: space-between;
    
}

.mobile-close-btn span{
       width: 40px;
       height: 40px;
       position: absolute;
       right: -60px;
       display: flex;
       align-items: center;
       justify-content: center;
       border: 1px solid rgba(244, 241, 238, 0.523);
       background: rgb(255, 253, 252);
       border-radius: 0px 6px 6px 0px;
       -webkit-border-radius: 0px 6px 6px 0px;
       -moz-border-radius: 0px 6px 6px 0px;
       -ms-border-radius: 0px 6px 6px 0px;
       -o-border-radius: 0px 6px 6px 0px;
       font-size: 20px;
       color: var(--main-color);
       cursor: pointer;
       display: none;
}

.mobile-close-btn span:hover{
      background: var(--main-color);
      color: white;
      border: none;
}


.dashboard-nav{
     height: 80vh;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}

.dashboard-nav ul{
     display: flex;
     gap: 10px;
     flex-direction: column;
}

.dashboard-nav ul li a,
.dashboard-bottom p{
    display: flex;
    gap: 5px;
    align-items: center;
    color: rgb(50, 50, 50);
    font-size: 15px;
    padding: 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
}

.dashboard-nav ul li a span,
.dashboard-bottom p span{
    display: flex;
}

.dashboard-nav ul li a.active,
.dashboard-nav ul li a:hover,
.dashboard-bottom p:hover{
    background: rgba(236, 190, 166, 0.219);
}

.dashboard-bottom{
    border-top: 1px solid rgba(239, 234, 232, 0.6);
    padding-top: 10px;
}

.dashboard-bottom button{
    width: 100%;
    height: 45px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
    transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
}
.dashboard-bottom button span{
    display: flex;
}
.dashboard-bottom button:hover{
    background: var(--main-color);
    color: white;
}

.dashboard-wrapper{
     margin-left: 290px;
     width: calc(100% - 290px);
     padding: 10px 20px;
     min-height: 110vh;
     padding-bottom: 50px;
}

.dashboard-topbar{
     display: flex;
     justify-content: space-between;
     gap: 10px;
     align-items: center;
}

.search-bar{
    display: flex;
    width: 400px;
    height: 50px;
    padding: 0 10px;
    border: 1px solid var(--line);
    gap: 5px;
    align-items: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.search-bar span{
     display: flex;
     color: #444;
     font-size: 15px;
}

.search-bar input{
     width:100%;
     height: 100%;
     background: none;
}

.search-bar:has(input:focus){
     background: white;
}
.dashboard-mobile-items{
       display: flex;
       align-items: center;
       gap: 20px;
       display: none;
}
.mobile-logo img{
     width: 120px;
     object-fit: contain;
}

.dashboard-mobile-items span{
     width: 40px;
     height: 40px;
     display: flex;
     border: 1px solid rgba(220, 220, 220, 0.397);
     background: rgb(255, 253, 252);
     cursor: pointer;
     border-radius: 40px;
     -webkit-border-radius: 40px;
     -moz-border-radius: 40px;
     -ms-border-radius: 40px;
     -o-border-radius: 40px;
     align-items: center;
     justify-content: center;
}

.topbar-column{
    display: flex;
    gap: 20px;
    align-items: center;
}

.notification-block span{
     width: 40px;
     height: 40px;
     border-radius: 40px;
     -webkit-border-radius: 40px;
     -moz-border-radius: 40px;
     -ms-border-radius: 40px;
     -o-border-radius: 40px;
     border: 1px solid rgba(228, 227, 225, 0.559);
     display: flex;
     align-items: center;
     justify-content: center;
}

.profile-block{
    position: relative;
}

.profile-block-item{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: background 0.5s ease;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
}

.profile-block-item:hover{
     background: rgba(245, 239, 235, 0.6);
     border: 1px solid rgba(231, 231, 231, 0.64);
}

.profile-image{
      width: 50px;
      height: 50px;
      border: 1px solid gainsboro;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
      overflow: hidden;
}

.profile-block-item h4{
      font-size: 15px;
      display: flex;
      align-items: center;
      gap: 5px;
      font-weight: 520;
      color: rgb(50, 50, 50);
}

.profile-block-item h4 span{
    display: flex;
    margin-top: 2px;
}

.profile-block-pop{
      position: absolute;
      width: 250px;
      background: white;
      right: 0;
      z-index: 99;
      padding:30px 20px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      transform-origin: top;
      transition: all 0.75s ease;
      -webkit-transition: all 0.75s ease;
      -moz-transition: all 0.75s ease;
      -ms-transition: all 0.75s ease;
      -o-transition: all 0.75s ease;
      transform: scaleY(0);
      -webkit-transform: scaleY(0);
      -moz-transform: scaleY(0);
      -ms-transform: scaleY(0);
      -o-transform: scaleY(0);
}

.profile-block-pop.active{
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
}

.profile-block-pop img{
      width: 80px;
      height: 80px;
      border-radius: 80px;
      -webkit-border-radius: 80px;
      -moz-border-radius: 80px;
      -ms-border-radius: 80px;
      -o-border-radius: 80px;
}

.profile-pop-texts{
    text-align: center;
    margin: 10px 0;
    border-bottom: 1px dashed var(--line);
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.profile-pop-texts h3{
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 5px;
}
.profile-pop-texts p{
     font-size: 15px;
     color: rgb(100, 100, 100);
}

.profile-block-pop ul{
    border-bottom: 1px dashed var(--line);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    margin-bottom: 10px;
    gap: 3px
}

.profile-block-pop ul li a{
     font-size: 14px;
     color: rgb(50, 50, 50);
     padding: 8px;
     border-radius: 5px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
}

.profile-block-pop ul li  a:hover{
         background: rgba(241, 239, 237, 0.64);
}

.profile-block-pop button{
     width: 100%;
     height: 40px;
     display: flex;
     align-items: center;
     justify-content: center;
     background: var(--line);
     border-radius: 6px;
     -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     -ms-border-radius: 6px;
     -o-border-radius: 6px;
     color: rgb(50, 50, 50);
     cursor: pointer;
     transition: all 0.5s ease;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -ms-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
}

.profile-block-pop button:hover{
     background: var(--main-color);
     color: white;
}

.close-pop{
    position: absolute;
    right: 15px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    background: rgba(231, 228, 226, 0.312);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    color: gray;
    top: 15px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.close-pop:hover{
    background: var(--line);
}


.admin-summary{
    display: grid;
    grid-template-columns: 1.25fr 1fr 1fr;
    gap: 20px;
    margin:15px 0 20px 0;;
}

.admin-summary-numbers,
.admin-money-numbers{
    background: var(--bg-faded);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 30px;
}
.summary-block-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.summary-block-moja{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.summary-block-moja h2{
    font-size: 32px;
    font-weight: 500;
}
.summary-block-moja p{
     font-size: 14px;
     font-weight: 500;
     border-bottom: 1px solid var(--line);
     padding-bottom: 8px;
     display: flex;
     gap: 5px;
     align-items: center;
     color: var(--faded);
}
.summary-block-moja span{
    display: flex;
    background: white;
    color: var(--main-color);
    width: 25px;
    height: 25px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    justify-content: center;
    align-items: center;
    font-size: 13px;;
}

.bookings-wrap{
     padding: 20px;
     background: rgba(235, 231, 226, 0.4);
     margin-top: 20px;
     border-radius: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
}

.wrap-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrap-title h3{
    font-size: 16px;
    font-weight: 540;
    color: var(--faded);
}

.wrap-title span{
     width: 25px;
     height: 25px;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
     border-radius: 3px;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     -ms-border-radius: 3px;
     -o-border-radius: 3px;
     font-size: 15px;
}
.wrap-title span:hover{
         border: 1px solid rgba(229, 223, 219, 0.6);
         color: var(--main-color);
}

.wrap-block-item{
    margin-top: 20px;
}
.wrap-block-item p{
     font-size: 13px;
     font-weight: 500;
     color: rgb(80,80, 80);
}
.wrap-block-range{
   border: 1px solid rgba(208, 201, 193, 0.658);
   overflow: hidden;
   height: 6px;
   border-radius: 6px;
   position: relative;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   -ms-border-radius: 6px;
   -o-border-radius: 6px;
}
.wrap-block-range span.total{
      width: 40%;
      position: absolute;
      left: 0;
      display: flex;
      height: 100%;
      background: var(--main-color);
}
.wrap-block-range span.cancel{
      width: 10%;
      position: absolute;
      left: 0;
      display: flex;
      height: 100%;
      background: rgb(199, 16, 77);
}
.wrap-block-range span.customer{
      width: 60%;
      position: absolute;
      left: 0;
      display: flex;
      height: 100%;
      background: rgb(8, 157, 68);
}

.wrap-block-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}


.wrap-block-column{
    display: flex;
    gap: 5px;
    align-items: center;
}
.wrap-block-column .percent{
    display: flex;
    align-items: center;
}
.wrap-block-column .percent.cancel span{
    color: rgb(199, 16, 77);
}
.wrap-block-column .percent.customer span{
    color: rgb(8, 157, 68);
}
.wrap-block-column span{
    display: flex;
    font-size: 13px;
    font-weight: 600;
    color: var(--main-color);
}
.wrap-block-head h5{
    font-size: 20px;
    font-weight: 500;
}


.admin-money-row-block{
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid var(--line);
}
.money-block-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.money-block-head h3{
     font-size: 12px;
     font-weight: 500 ;
     color: var(--faded);
}
.money-block-head span{
    font-weight: 600;
    font-size: 13px;
}
.admin-money-row-block h2{
      font-size: 24px;
      margin: 5px 0;
      font-weight: 500;
}
.money-block-column p{
     font-size: 11px;
     font-weight: 400;
     color: rgb(80,80, 80)
}

.driver-block-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--line);
}
.driver-block-head h3{
    font-size: 18px;
    font-weight:500;
    color: rgb(50, 50, 50);
}
.driver-block-head span{
     width: 35px;
     height: 35px;
     border-radius: 35px;;
     -webkit-border-radius: 35px;
     -moz-border-radius: 35px;
     -ms-border-radius: 35px;
     -o-border-radius: 35px;
     border: 1px solid gainsboro;
     display: flex;
     justify-content: center;
     align-items: center;
}

.drivers-block-list{
    margin: 10px 0;
}
.driver-block-moja{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--line);
    padding: 6px;
    background: var(--bg-faded);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.driver-block-col{
    display: flex;
    align-items: center;
    gap: 5px;
}

.driver-block-col h4{
    font-size: 14px;
    color: rgb(50, 50, 50);
    font-weight: 500;
}
.driver-block-col p{
      font-size: 10px;
      color: rgb(80, 80, 80);
}

.driver-block-col-extra{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.driver-block-col-extra .line{
     height: 1px;
     display: flex;
     width: 80%;
     background: var(--line);
}
.driver-block-col-extra h5{
      font-size: 12px;
      font-weight: 500;
      color: rgb(50, 50, 50);
}

.driver-map-title{
    margin: 20px 0;
}

.driver-map-title h3{
     font-size: 16px;
     font-weight: 500;
     padding-bottom: 10px;
     border-bottom: 1px solid var(--line);
}

.driver-activity-map{
     height: 200px;
}

.recent-bookings-table{
      overflow-x: auto;
}

.recent-bookings{
    margin: 20px 0;
    padding: 10px 0;
    min-width: 1000px;
}

.recent-booking-header{
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 20px;
     padding-bottom: 10px;
     border-bottom: 1px solid var(--line);
     margin-bottom: 10px;
}

.recent-booking-header h3{
     font-size: 24px;
     font-weight: 500;
}

.recent-booking-header .filters{
     border: 1px solid var(--line);
     cursor: pointer;
     display: flex;
     gap: 2px;
     align-items: center;
     padding: 5px;
     border-radius: 5px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
}

.recent-booking-header .filters span{
     font-size: 14px;
     display: flex;
}

.recent-booking-header .filters select{
     font-size: 13px;
     background: transparent
}

.booking-table-header{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr;
    border-bottom: 1px solid var(--line);
    padding: 10px 0;
    margin-bottom: 5px;
}

.booking-col{
    padding-left: 10px;
}

.booking-col h3{
      font-size: 14px;
      font-weight: 450;
}

.booking-table-row{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr;
    border-bottom: 1px solid var(--line);
    padding: 10px 0
}

.booking-col{
     display: flex;
     align-items: center;;
     padding: 10px;
     transition: all 0.5s ease ;
     -webkit-transition: all 0.5s ease ;
     -moz-transition: all 0.5s ease ;
     -ms-transition: all 0.5s ease ;
     -o-transition: all 0.5s ease ;
     border-radius: 8px;
     -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
     -ms-border-radius: 8px;
     -o-border-radius: 8px;
}

.booking-table-row:hover,
.simple-table-row:hover{
     background: rgba(230, 224, 216, 0.25);
     cursor: pointer;
}

.col-profile{
    display: flex;
    gap: 5px;;
    align-items: center;
}

.col-profile img{
       width: 40px;
       height: 40px;
       border: 1px solid var(--line);
       border-radius: 40px;
       -webkit-border-radius: 40px;
       -moz-border-radius: 40px;
       -ms-border-radius: 40px;
       -o-border-radius: 40px;
}

.booking-col h4{
     font-size: 15px;
     font-weight: 450;
     color: rgb(50, 50, 50);
}

.booking-status{
     position: relative;
     border-radius: 6px;
     -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     -ms-border-radius: 6px;
     -o-border-radius: 6px;
}
.status{
     padding: 10px 20px;
     display: flex;
     cursor: pointer;
     border-radius: 6px;
     -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     -ms-border-radius: 6px;
     -o-border-radius: 6px;
}

.status.requested{
    background: rgba(230, 181, 161, 0.5);
}
.status.confirmed{
     background: rgba(180, 222, 241, 0.5);
}
.status.ongoing{
    background: rgb(244, 227, 182, 0.5);
}
.status.completed{
    background: rgb(174, 240, 208, 0.5);
}

.booking-status h5,
.status h5{
     font-size: 13px;
     font-weight: 450;
     text-transform: capitalize;
     color: rgb(50, 50, 50)
}

.status-options{
      position: absolute;
      background: white;
      top: 101%;
      z-index: 99;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      transform-origin: top;
      transform: scaleY(0);
      -webkit-transform: scaleY(0);
      -moz-transform: scaleY(0);
      -ms-transform: scaleY(0);
      -o-transform: scaleY(0);
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
}
.status-options.active{
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
}
.status-options ul{
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 3px;
      background: white;
}
.status-options ul li{
     padding: 8px 18px;
     font-size: 10px;
     font-weight: 550;
     border-radius: 3px;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     -ms-border-radius: 3px;
     -o-border-radius: 3px;
     background: rgba(228, 220, 212, 0.134);;
}
.status-options ul li:hover{
    cursor: pointer;
    color: whitesmoke;
    background: rgb(191, 113, 82)
}

.booking-col.date h4{
      font-size: 13px;
}

@media(max-width: 1090px){
    .mobile-close-btn span{
          display: flex;
    }
     .dashboard-sidebar{
            transform: translateX(-120%) ;
            -webkit-transform: translateX(-120%) ;
            -moz-transform: translateX(-120%) ;
            -ms-transform: translateX(-120%) ;
            -o-transform: translateX(-120%) ;
            transition: all 0.75s ease;
            -webkit-transition: all 0.75s ease;
            -moz-transition: all 0.75s ease;
            -ms-transition: all 0.75s ease;
            -o-transition: all 0.75s ease;
            background: rgb(255, 253, 252);
}
    .dashboard-sidebar.mobile-active{
          transform: translateX(0);
          -webkit-transform: translateX(0);
          -moz-transform: translateX(0);
          -ms-transform: translateX(0);
          -o-transform: translateX(0);
}
     .dashboard-wrapper{
           width: 100%;
           margin-left: 0;
     }

     .dashboard-mobile-items{
           display: flex;
     }

     .search-bar{
           display: none;
     }
     .admin-summary{
            grid-template-columns: 1fr 1fr;
     }
     .admin-extra-info{
          grid-column: span 2;
     }
     .driver-activity-map{
          height: 450px;;
     }
}
@media(max-width: 768px){
     .driver-activity-map{
           height: 350px;
     }
     .admin-summary{
           grid-template-columns: 1fr;
     }
     .admin-extra-info{
          grid-column: span 1;
     }
}