.dashboard-transactions{
    padding: 20px 0;
}

.dashboard-intro{
     padding-bottom: 10px;
     border-bottom: 1px solid var(--line);
     margin-bottom: 10px;
}

.dashboard-intro h2{
      font-size: 24px;
      font-weight: 550;
      margin-bottom: 5px;
}

.dashboard-intro p{
     font-size: 16px;
     color: rgb(50, 50, 50);
}

.data-empty{
     width: 800px;
     margin-inline: auto;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 60px 0;
     text-align: center;
     gap: 10px;
}
.data-empty img{
     width: 60px;
     height: 60px;
       filter: invert(80%) sepia(0%) saturate(0%) hue-rotate(238deg) brightness(84%) contrast(101%);
}

.data-empty h3{
    font-size: 24px;
    font-weight: 500;
    color: rgb(50, 50, 50);
}
.data-empty p{
     font-size: 20px;
     line-height: 1.5;
     color: rgb(80, 80, 80);
}

.transactionTable{
     display: grid;
     grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
     gap:10px
}

.basic-customer-profile{
     display: flex;
     flex-direction: column;
}

.basic-customer-profile h3{
     font-size: 16px;
     font-weight: 500;
     color: rgb(50, 50, 50);
}
.basic-customer-profile span{
      font-size: 14px;
      color: rgb(120, 120, 120);
}

.booking-col.fin h4{
     font-weight: 600;
     color: rgb(50, 50, 50);
}


@media(max-width: 1090px){
     .data-empty{
           width: 90%;
     }
}

@media(max-width: 768px){
     .data-empty h3{
          font-size: 22px;
     }
     .data-empty p{
           font-size: 17px;
     }
}